*{
  padding: 0;
  margin: 0;
}

.App{
  width: 1100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.cards-info{
  display: grid;
  grid-template-columns: 650px 425px
}
.btn-1, .btn-2{
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  text-decoration: none;
}
.btn-1{
  background-color: #9F0013;
}
.btn-2{
  background-color: #5C5C5C;
  box-sizing: border-box;
  width: 98.84px;
}
.btn-1:disabled{
  opacity: 0.6;
}

