.find-char{
    margin-top: 20px;
    block-size: fit-content;
    padding: 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.find-char-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.form{
    margin-top: 20px;
}
.input{
    margin-right: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
.visit{
    margin-top: 20px;
}
.visit span{
    font-size: 18px;
    color: rgb(6, 114, 6);
    margin-right: 10px;
}
.error{
    color: #9F0013;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
} 
.find-char button:disabled{
    opacity: 0.5;
}