.single-char{
    display: flex;
}
.single-char img{
    width: 500px;
    margin-right: 20px;
}
.single-char .title{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #9F0013;
}
.single-char button{
    margin-top: 20px;
}